<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
				<property name="" value="" />
			</transactionManager>
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/catalogo_cursos?autoReconnect=true&amp;useSSL=false" />
				<property name="username" value="root" />
				<property name="password" value="01Alb@rran" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper class="org.mybatis.cdi.samples.UserMapper" />
		<mapper class="org.mybatis.cdi.samples.CursoMapper" />
		<mapper class="org.mybatis.cdi.samples.ResultadoSPCursoMapper" />
	</mappers>

</configuration>
